---
eleventyNavigation:
  key: About
  order: 4
---
<h1>About me</h1>

<div class="timeline-container">

	<div class="timeline-item" date-is='From May 2022'>
		<h1>Restate</h1>
		<p>
      First joiner in <a href="https://www.restate.dev">Restate</a>. Leading design and development of core aspects of the project, including developer experience, network protocol for the interaction between components.
		</p>
	</div>

	<div class="timeline-item" date-is='September 2021 - May 2022'>
		<h1>Ververica</h1>
		<p>
      Joined the <a href="https://flink.apache.org/">Apache Flink</a> SQL team, developing the SQL parser, planner, optimizer and runtime.
		</p>
	</div>

	<div class="timeline-item" date-is='March 2019 - July 2021'>
		<h1>Red Hat</h1>
    <p>
      Joined in Vert.x team in <a href="https://redhat.com">Red Hat</a> to help development and maintenance of different Vert.x stack components, in particular, related to Vert.x Web. I worked on a research project, involving the community, aimed to improve the developer experience of our APIs, with a particular focus on API Gateways use case. I also did different improvements to our code generator for various language integrations.
    </p>
		<p>
      Later joined the <a href="https://www.openshift.com/learn/topics/serverless">Openshift Cloud Functions</a> team to focus on Serverless technologies and Event Driven FaaS applications, with a particular focus on <a href="https://knative.dev/">Knative</a> and <a href="https://cloudevents.io/">CloudEvents</a>
		</p>
	</div>

	<div class="timeline-item" date-is='March - May 2018'>
		<h1>Credimi</h1>
		<p>
      Joined in tech team of <a href="https://credimi.com">Credimi SPA</a>, working with Scala, Akka, Lagom, Apache Kafka & Camunda
		</p>
	</div>

	<div class="timeline-item" date-is='Summer 2017'>
		<h1>Eclipse foundation</h1>
    <p>
      Joined as <a href="https://summerofcode.withgoogle.com/projects/#5472433315250176">GSoC student</a> project page in the Eclipse Foundation Vert.x project as module mantainer of <a href="http://vertx.io/docs/#web">vertx-web-api-contract</a> and related packages. Contributed to a various components of the project, in particular Service Proxies and Codegen
    </p>
	</div>

</div>
