---js
const eleventyNavigation = {
	key: "Landscapes",
	order: 3
};
---

<p>This page is a collection of landscapes you probably don't know they exists, but they are worth visiting. <b>More than once.</b></p>

<div class="hero-image-container">
	<img src="../../img/landscapes/campo-imperatore.jpg" alt="Campo Imperatore">
	<a href="https://maps.app.goo.gl/DgnWqzGbQAx36pew8" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Campo Imperatore (Abruzzo, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/canyon-valianara.jpg" alt="Canyon della Valianara">
	<a href="https://maps.app.goo.gl/LhRF5vrvNjadj5Uy5" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Canyon della Valianara (Abruzzo, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/castel-del-monte.jpg" alt="Castel del Monte">
	<a href="https://maps.app.goo.gl/QMqSyqPPXbAY3xM97" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Castel del monte (Abruzzo, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/opi.jpg" alt="Opi">
	<a href="https://maps.app.goo.gl/Tb5xXs3KtDfKw4Lu6" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Opi (Abruzzo, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/castel-del-monte-2.jpg" alt="Castel del Monte">
	<a href="https://maps.app.goo.gl/QMqSyqPPXbAY3xM97" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Castel del monte (Abruzzo, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/pitigliano.jpg" alt="Pitigliano">
	<a href="https://maps.app.goo.gl/1AyndVJyEB1eow7o7" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Pitigliano (Toscana, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/lago-del-turano.jpg" alt="Lago del Turano">
	<a href="https://maps.app.goo.gl/FtsfnwZwH6Q9wRsk7" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Lago del Turano (Lazio, Italy)</a>
</div>

<div class="hero-image-container">
	<img src="../../img/landscapes/cascate-marmore.jpg" alt="Cascate delle Marmore">
	<a href="https://maps.app.goo.gl/oVZjcaGn6tvvUuRp6" class="hero-image-caption" target="_blank" rel="noopener noreferrer">Cascate delle Marmore (Lazio, Italy)</a>
</div>

<p><b>Disclaimer:</b> I'm a terrible photographer, but nature fixes it for me. All images are free to use</p>
