<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
      <div class="entry-content">
        {{ content }}
        <section class="timeline">
          <ul>
            <li>
              <div class="content">
                <h2>
                  <time>Summer 2017</time>
                </h2>
                <p>
                  GSoC student for Eclipse Vert.X organization<br/>
                  OpenAPI 3 / RAML integration inside vertx-web framework (for more info check out <a href="https://summerofcode.withgoogle.com/projects/#5472433315250176">project page</a> )
                </p>
              </div>
            </li>
            <li>
              <div class="content">
                <h2>
                  <time>September 2016</time>
                </h2>
                <p>
                  Started studies as IT Engineer in Politecnico di Milano
                </p>
              </div>
            </li>
            <li>
              <div class="content">
                <h2>
                  <time>April 2016</time>
                </h2>
                <p>
                  Robocup Jr. 2016 Management System<br/>
                  Team leader and backend developer of project. This project had as objective: provide a centralized points management system for Robocup Jr. competitions. Judges used tablets to submit team points inside database through Node.JS/Express backend. Then points and ranks were shown with an Angular.JS web application
                </p>
              </div>
            </li>
          </ul>
        </section>
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    Thank you to Arnaud Ballar for <a href="https://codepen.io/ArnaudBalland/pen/rLeQgd">timeline style</a> <br/>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
